@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Syne", sans-serif;
}

/* popup custom css */
.swal2-confirm {
  background-color: #ff4d00 !important;
  outline: none !important;
  border: none !important;
}
